<html>
<title>Home</title>
<h1>Home</h1>
<body bgcolor="tomato">
<p>
	Welcome to Hello World Sinatra application
	Check out the <a href="/about" title="">about</a> page
</p>
<p>Current Time: <b><%= Time.now %></b></p>
</body>
</html>
